body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .formulario {
    display: flex;
    height: 135px;
    
  }
  
  .coluna1 {
    width: 250px;
    padding: 10px;
  }
  
  .coluna2 {
    padding: 10px;
  }
  
  .linha {
    height: 45px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .label {
    font-family: Georgia, serif;
    font-size: 14px;
    color: SlateGray;
    margin-right: 10px;
    width: 80px;
  }
  
  .textbox {
    height: 30px;
    font-size: 14px;
    color: Beige;
    width: 75px;
    background-color: gray;
    border: none;
    padding: 5px;
  }
  
  .button {
    border: 1px solid Azure;
    cursor: pointer;
    color: Beige;
    background-color: #333;
    padding: 5px 10px;
    margin-left: 5px;
  }